<li id="box_<%= box.id %>">
	A <%= box.color %> <%= box.material %> box. <%=link_to "Remove", remove_box_order_path(:id => @order.id, :box_id => box.id), confirm: 'Are you sure?', method: :delete %>
</li>
