<h1>Login</h1>

<form action="/login/authenticate" method="post">
    <label for="size">Enter Password To Authenticate:</label>
    <input type="password" id="password" name="password" class="span2">
    <input type="submit" value="Login" class="btn">    
</form>
