	<p>Name: <br />
		<%= text_field :widget, :name %>
	</p>
	<p>Description: <br />
		<%= text_area :widget, :description %>
	</p>
	<p>Color: <br />
		<%= text_field :widget, :color %>
	</p>
	<p>Size: <br />
		<%= text_field :widget, :size %>
	</p>

